body {

    background-color: white;
    border: 1px solid black;
}


header {

    font-size: 60px;
    font-family: fantasy;
    height: 150px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    align-items: center;

}


img {

    width: 34%;
    height: 100%;

}

nav {

    background-color: blueviolet;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

nav ul li {

    display: inline-block;
    font-size: 25px;
    font-family: fantasy;
    padding-left: 70px;
    padding-right: 70px;


}

a {

    text-decoration: none;
    color: black;
}

a:link {

    text-decoration: none;
    color: black;

}

a:hover {

    text-decoration: underline;
    color: black;
    cursor: pointer;

}


a:active {

    color: indigo;
}


article {

    background-image: url("wallpaper1.jpg");
    background-size: cover;
    border: 1px solid black;
    padding: 50px 100px;
    text-align: justify;
    background-attachment: fixed;

}

article div {

    line-height: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.column {
    flex: 33%;
    max-width: 33%;

}

.column img {
    margin-bottom: 20px;
    vertical-align: middle;
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.background {

    background-image: url("stadium3.webp");

    min-height: 480px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.container {
    position: absolute;
    right: 0;
    margin: 80px;
    max-width: 300px;
    padding: 16px;
    background-color: darkgray;
    font-family: fantasy;
    border: 2px solid dimgray;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    border: 1px solid black;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.button {
    background-color: cornflowerblue;
    color: black;
    padding: 16px 20px;
    cursor: pointer;
    width: 100%;
    opacity: 0.8;
    border: 1px solid black;
    font-family: fantasy;
    font-size: 18px;
}

.button:hover {
    opacity: 1;
}

footer {

    background-color: darkgray;
    font-size: 16px;
    font-family: fantasy;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    padding-top: 7px;

}

footer div {

    display: inline-block;
    padding-right: 20px;
}